*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  font-family:Arial, Helvetica, sans-serif;

  background:
  linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.7)
  ),

  url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?q=80&w=1600&auto=format&fit=crop");

  background-size:cover;
  background-position:center;

  color:white;

  min-height:100vh;

  padding:20px;
}

.container{
  max-width:1200px;
  margin:auto;
}

.top{

  background:rgba(0,0,0,0.55);

  padding:30px;

  border-radius:20px;

  margin-bottom:25px;
}

.top h1{
  font-size:3rem;
  margin-bottom:10px;
}

.top p{
  color:#d6d6d6;
  line-height:1.6;
}

.game-area{

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:20px;

  margin-bottom:25px;
}

.image-box{

  background:rgba(0,0,0,0.5);

  border-radius:20px;

  overflow:hidden;
}

.image-box img{

  width:100%;
  height:100%;

  object-fit:cover;
}

.content-box{

  background:rgba(0,0,0,0.55);

  padding:30px;

  border-radius:20px;
}

.content-box h2{

  font-size:2rem;

  margin-bottom:15px;
}

.content-box p{

  color:#d9d9d9;

  line-height:1.7;
}

.buttons{

  margin-top:25px;

  display:flex;

  flex-direction:column;

  gap:15px;
}

button{

  border:none;

  padding:16px;

  border-radius:15px;

  font-size:1rem;

  cursor:pointer;

  transition:0.3s;
}

button:hover{
  transform:scale(1.02);
}

#btn1{

  background:#23c46e;

  color:white;
}

#btn2{

  background:#ff5d5d;

  color:white;
}

.stats{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(180px,1fr));

  gap:15px;

  margin-bottom:25px;
}

.card{

  background:rgba(0,0,0,0.55);

  padding:25px;

  border-radius:18px;

  text-align:center;
}

.card h3{

  margin-bottom:10px;

  color:#cfcfcf;
}

.card span{

  font-size:2rem;

  font-weight:bold;
}

.bars{

  background:rgba(0,0,0,0.55);

  padding:25px;

  border-radius:20px;

  margin-bottom:20px;
}

.bar-group{
  margin-bottom:18px;
}

.bar-group label{

  display:block;

  margin-bottom:8px;
}

.bar{

  width:100%;

  height:18px;

  background:#1f1f1f;

  border-radius:999px;

  overflow:hidden;
}

.fill{

  height:100%;

  width:70%;

  transition:0.4s;
}

.green{
  background:#23c46e;
}

.nature{
  background:#00d26a;
}

.blue{
  background:#39bfff;
}

.yellow{
  background:#ffd23f;
}

.message-box{

  background:rgba(0,0,0,0.55);

  padding:20px;

  border-radius:20px;

  text-align:center;

  margin-bottom:20px;
}

.restart-box{
  text-align:center;
}

#restart{

  background:#23c46e;

  color:white;

  padding:16px 30px;
}

@media(max-width:900px){

  .game-area{
    grid-template-columns:1fr;
  }

  .top h1{
    font-size:2rem;
  }

}